/*body{font-family: IRANSans;}*/
[data-response-hide]{display: none !important;}
h1{border-bottom: 1px solid #eee;text-align: left;font-weight: 600;}
h3{color: #2d91a5;font-weight: bolder; margin:0;padding:0 .6em;text-align: left;margin-top: 3em;}
.box .menu{margin:4em 0;background: #f4f4f4;}
.menu li{display: block;text-align: left;padding: .5em;font-size: 1.2em;color: #2d91a5;margin-left:.5em;transition: .2s }
.menu li a{color: #6b6161;font-size: 1.1em;font-weight: 400;width: 100%;display: block;float: left;padding: .4em;}
.menu li:hover a{color: #403b3b;font-weight: 500;}
pre{font-size: 1.8em;background-color: transparent;padding:0;font-size: 1.8em;background-color: transparent;margin: 0 auto;max-width: 100%;}
code{background: rgba(220, 215, 215, 0.27);width: 100%;margin: 0em auto;display:block;}
#dscription p{margin-bottom: 0;text-align:left;}
.main{padding: 2em;}
.content{color: #111;text-align: right;font-size: .9em;}
.content h3{text-align: left;padding: 1em 0em 0 1em}
.content+p{text-align: right;padding: 2em;padding-bottom: 0;color: #eee;}
.contain{margin-bottom: 1em;}
.contain p{padding: 1em;}
/*Example*/
.Example{border:1px solid rgba(8, 68, 80, 0.07); margin-top: .5em;}
/*sector*/
.sector{display: block;width: 100%;min-height:100px;}
/*goal*/
.goal{text-align: center;font-size: 1.4em;display:block;width: 100%;min-height: 125px}
.goal span{display: inline-block;vertical-align: middle;padding: 1em;background: #429cae;margin: 1em;border-radius: 5px;color: #fff;}
/*replace_box*/
.replace_box{min-height: 125px;width: 100%;display: block;background-color: rgba(247, 247, 247, 0.66);position: relative;}
.replace_box div{display: flex;align-items: center;min-height: 125px;}
.request{text-align: left;}
.request p{margin: 0;padding: 1em;text-align: left;}
.request input[type="checkbox"]{display: none;}
/*checkbox*/
.check{width: 100%;display: inline-block;margin:0 1em;cursor: pointer;text-align: left;}
.check input[type="text"],.check input[type="number"]{border: 1px solid #429cae;}
.check input[type="checkbox"]{width: 0}
.check input[type="checkbox"]+label{width: 20px;height: 21px;position: relative;display: inline-block;border: #eee solid 2px;border-radius: 4px;vertical-align: middle;margin: 0 .4em;}
.check input[type="checkbox"]:checked+label::before,.check input[type="checkbox"]:checked+label::after{opacity: 1;}
.check input[type="checkbox"]:hover+label{border:2px solid #00667a;cursor:pointer;}
.check input[type="checkbox"]:focuse+label,.check input[type="checkbox"]:focuse+label{border:2px solid #00667a;}
label{cursor: pointer;display: inline-block;vertical-align: middle;font-size:1.3em; -webkit-user-select: none;}
label:before{width: 10px;height: 2px;background-color: #00667a;border: 1px #00667a solid;transform: rotate(40deg);content:"";position: absolute;border-radius: 4px;top: 8px;left: 0px;font-size: 1.5em;font-weight: bolder;transition: .3s;opacity: 0;}
label:after{opacity: 0;width: 20px;height: 2px;background-color: #00667a;border: 1px #00667a solid;transform: rotate(-50deg);content:"";position: absolute;border-radius: 4px;top: 3px;left: 5px;font-size: 1.5em;font-weight: bolder;transition: .3s;}
/*input*/
input[type="text"],input[type="number"]{display: inline-block;border: 1px solid #eee;padding: 1em;outline: 0;}
input[type="radio"]{display: inline-block;vertical-align: middle;width: 20px;height: 20px;}
input[type="radio"]+label{padding:.5em;display:inline-block;vertical-align: middle;color: #2d91a5;font-size: 1.5em;}
input:focuse{border: 1px solid red;}
span p{font-size: 1.6em;margin:1em 0;}
.E6 span{padding: .5em 1em;}
/*button*/
.btn {width: 100%;font-size: 1.3em;text-align: center;cursor: pointer;font-weight: 500;border-radius: 50%;margin: 2em 0 0px 1em;display: block;color: #429cae;}
.btn:hover {color: #277e90;}
.btn:active {color: #216877;}
/*high light*/
.hljs{overflow-x:auto;padding:0.5em;color:#383a42;}.hljs-comment,.hljs-quote{color:#a0a1a7;font-style:italic}.hljs-doctag,.hljs-keyword,.hljs-formula{color:#a626a4}.hljs-section,.hljs-name,.hljs-selector-tag,.hljs-deletion,.hljs-subst{color:#e45649}.hljs-literal{color:#0184bb}.hljs-string,.hljs-regexp,.hljs-addition,.hljs-attribute,.hljs-meta-string{color:#50a14f}.hljs-built_in,.hljs-class .hljs-title{color:#c18401}.hljs-attr,.hljs-variable,.hljs-template-variable,.hljs-type,.hljs-selector-class,.hljs-selector-attr,.hljs-selector-pseudo,.hljs-number{color:#986801}.hljs-symbol,.hljs-bullet,.hljs-link,.hljs-meta,.hljs-selector-id,.hljs-title{color:#4078f2}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:bold}.hljs-link{text-decoration:underline}









